.profile {
    background-color: #fff;
    border-radius: 4px;
    margin: 50px 0;
    width: 350px;
  }
  
  .profile .description {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 15%;
  }
  
  .profile .description__avatar {
    background-image: url('./more-foto-07.jpg');
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #908e8e;
    margin-bottom: 10%;
    width: 120px;
  }
  
  .profile .description__name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5%;
  }
  
  .profile .description__tag,
  .profile .description__location {
    color: #838080;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .stats {
    background-color: #e3eded;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    height: 100px;
    list-style: none;
    width: 100%;
  }
  
  .stats > li {
    align-items: center;
    border-right: 1px solid #e1dfdf;
    border-top: 1px solid #e1dfdf;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  .stats > li:last-child {
    border-right: none;
  }
  
  .stats__label {
    color: #929292;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4%;
  }
  
  .stats__quantity {
    font-size: 18px;
    font-weight: 700;
  }